<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Minfir Jennifer - Leboncoin_jmi{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/leboncoin.css') }}">
</head>
<body>
<div id="content">
    <header class="header" id="page-header">
        <div class="content-wrap">
            <h1 class="image-text home">Leboncoin</h1>
            <nav>
                <ul>
                    <li class="nav-item"><a class="round-btn" href="{{ path('leboncoin_homepage') }}">Accueil</a></li>
                    <li class="nav-item"><a class="round-btn" href="{{ path('ajouter_annonce') }}">Déposer une annonce</a></li>
                    <li class="nav-item"><a class="round-btn" href="{{ path('offres_annonce') }}">Offres</a></li>
                    <li class="nav-item"><a class="round-btn" href="{{ path('demandes_annonce') }}">Demandes</a></li>
                    <li class="nav-item"><a class="round-btn" href="#">Mes annonces</a></li>
                    <li class="nav-item"><a class="round-btn" href="#">Boutiques</a></li>
                    <li class="user-action"> <a href="#" class="round-btn fill-btn">Connexion</a> </li>
                </ul>
            </nav>
        </div>
    </header>

    <main role="main" class="main">

        {% block body %}{% endblock %}

    </main>
    <footer class="footer fixed-footer">
        <div class="content-wrap clearfix">
            <p class="ml"> Leboncoin remix - 2016 <a href="#">Mentions légales</a></p>
        </div>
    </footer>
</div>
</body>
</html>
